{% extends 'base.html.twig' %}

{% block title %}page{% endblock %}

{% block body %}
    <style>
        #header{
            min-height: 370px!important;
        }

        .row.animated {
            opacity: 1;
        }

    </style>
    <article id="content">

        <section class="container content-padding-lg">
            <p style="text-align:center"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-size:18.0pt"><span style="color:black">Page &laquo;&nbsp;&Agrave; PROPOS&nbsp;&raquo; - Cadito</span></span></strong></span></span></p>

            <p style="text-align:justify">&nbsp;</p>

            <p style="text-align:justify"><span style="font-size:12pt"><span style="background-color:white"><span style="font-family:&quot;Times New Roman&quot;,serif"><strong><span style="font-size:16.0pt"><span style="color:black">Bienvenue sur Cadito&nbsp;!</span></span></strong></span></span></span></p>

            <p style="text-align:justify">&nbsp;</p>

            <p style="text-align:justify"><span style="font-size:12pt"><span style="background-color:white"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Bienvenue sur cadito.fr, le site r&eacute;pertoriant plus de 80 000 &eacute;v&eacute;nements dans toute la France.</span></span></span></span></p>

            <p style="text-align:justify"><span style="font-size:12pt"><span style="background-color:white"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Nous savons &agrave; quel point il peut &ecirc;tre difficile de trouver le bon &eacute;v&eacute;nement ou lieu pendant votre temps libre. C&#39;est pourquoi nous avons rassembl&eacute; ici les meilleurs &eacute;v&eacute;nements de tous types, partout et pour tous les budgets&nbsp;!</span></span></span></span></p>

            <p style="text-align:justify">&nbsp;</p>

            <p style="text-align:justify"><span style="font-size:12pt"><span style="background-color:white"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black"><a href="https://cadito.fr/activiter/sport" style="color:blue; text-decoration:underline"><strong><span style="font-size:16.0pt">Allie</span></strong><strong><span style="font-size:16.0pt">r</span></strong><strong> </strong><strong><span style="font-size:16.0pt">sport et loisir</span></strong></a></span><span style="color:black"> </span></span></span></span></p>

            <p style="text-align:justify">&nbsp;</p>

            <p style="text-align:justify"><span style="font-size:12pt"><span style="background-color:white"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">L&#39;une des activit&eacute;s pr&eacute;f&eacute;r&eacute;es, surtout avec en famille, est de faire du sport. Ce type d&#39;activit&eacute; vous permet non seulement de vous amuser, mais aussi d&#39;exercer votre corps et de garder votre corps et votre esprit en bonne sant&eacute;. </span></span></span></span></p>

            <p style="text-align:justify"><span style="font-size:12pt"><span style="background-color:white"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Il n&#39;est m&ecirc;me pas n&eacute;cessaire d&#39;aller &agrave; la salle de pour pratiquer diff&eacute;rents types de sports&nbsp;: en effet, que ce soit dans la </span><span style="color:black"><a href="https://cadito.fr/chearch/?chearch=nature&amp;ville=&amp;price=" style="color:blue; text-decoration:underline">nature</a></span><span style="color:black">, en groupe, en solo, dans les </span><span style="color:black"><a href="https://cadito.fr/activiter/vol" style="color:blue; text-decoration:underline">airs</a></span><span style="color:black"> ou dans l&#39;</span><span style="color:black"><a href="https://cadito.fr/activiter/eau" style="color:blue; text-decoration:underline">eau</a></span><span style="color:black">, vous trouverez forc&eacute;ment ici une activit&eacute; qui vous convient !</span></span></span></span></p>

            <p style="text-align:justify">&nbsp;</p>

            <p style="text-align:justify"><span style="font-size:12pt"><span style="background-color:white"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black"><a href="https://cadito.fr/activiter/cultur" style="color:blue; text-decoration:underline"><strong><span style="font-size:16.0pt">Culture et expositions</span></strong></a></span><strong> </strong></span></span></span></p>

            <p style="text-align:justify">&nbsp;</p>

            <p style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Selon la d&eacute;finition de l&#39;UNESCO, la culture est &laquo; l&rsquo;ensemble des traits distinctifs, spirituels, mat&eacute;riels, intellectuels et affectifs, qui caract&eacute;risent une soci&eacute;t&eacute; ou un groupe social. Elle englobe, outre les arts, les lettres et les sciences, les modes de vie, les lois, les syst&egrave;mes de valeurs, les traditions et les croyances &raquo;.</span></span></span></p>

            <p style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Les loisirs culturels s&#39;adressent principalement aux personnes vivant en milieu urbain. L&#39;id&eacute;al serait d&#39;avoir un carnet d&#39;adresses de multiples lieux culturels &agrave; d&eacute;couvrir en famille. Par exemple, vous pouvez d&eacute;couvrir des chefs-d&#39;&oelig;uvre dans un </span><a href="https://cadito.fr/activiter/musee" style="color:blue; text-decoration:underline">mus&eacute;e</a><span style="color:black"> ou aller dans un </span><a href="https://cadito.fr/chearch/?chearch=aquarium&amp;ville=&amp;price=" style="color:blue; text-decoration:underline">aquarium</a><span style="color:black">, aller dans une </span><a href="https://cadito.fr/activiter/biblioth" style="color:blue; text-decoration:underline">biblioth&egrave;que</a><span style="color:black"> pour ceux qui aiment lire, ou pratiquer des activit&eacute;s artistiques par vous-m&ecirc;me, comme le dessin ou la peinture.</span></span></span></p>

            <p style="text-align:justify"><span style="font-size:12pt"><span style="font-family:&quot;Times New Roman&quot;,serif"><span style="color:black">Qu&#39;il s&#39;agisse d&#39;admirer des cr&eacute;ations artistiques ou de se d&eacute;guiser en artiste et de devenir un Picasso d&#39;un jour, tous les &eacute;v&eacute;nements culturellement pertinents sont sur cette page !</span></span></span></p>

        </section>
    </article><!-- #content -->

{% endblock %}
