{% extends 'base.html.twig' %}

{% block title %}New Activitys{% endblock %}

{% block body %}
    <h1>Create new Activitys</h1>

    {{ include('activitys/_form.html.twig') }}

    <a href="{{ path('app_activitys_index') }}">back to list</a>
{% endblock %}
