{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

    <article id="content">
        <section class="container content-padding-lg">
            <div class="row animated">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h1 class="text-center"><small>What can you do with the Leisure Template?</small>AWARD WINNING RESORT</h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non ornare eros. Ut pharetra ornare lorem, sit amet bibendum quam imperdiet ut.
                    </p>
                    <p>Duis diam eros, dignissim sed condimentum ac, vehicula nec nisl. Suspendisse condimentum libero tempus, accumsan augue et, varius dui. Morbi justo tortor, tincidunt ornare magna ut, molestie mattis enim. Cras ac justo et augue suscipit euismod vel eget lectus. Proin vehicula nunc arcu, pulvinar accumsan.
                    </p>
                    <a href="resort.html" class="btn btn-inline">What's happening at the Leisure Center?</a>
                </div><!-- .col-sm-8 -->
            </div><!-- .row -->
        </section><!-- .container -->
        <section class="fullwidth-row">
            <div class="container content-padding-xl">
                <div class="row animated">
                    <div class="col-sm-12 parallax-container" data-stellar-offset-parent="true" data-stellar-vertical-offset="150">
                        <div class="content-column half text-center">
                            <img src="/html-final/images/photo3.jpg" class="parallax-image img-responsive" data-stellar-ratio="1.15123" alt="">
                            <img src="/html-final/images/photo2.jpg" class="parallax-image img-responsive" data-stellar-ratio="0.94456456" alt="">
                            <img src="/html-final/images/photo1.jpg" class="parallax-image img-responsive" data-stellar-ratio="1.111111" alt="">
                        </div><!-- .content-column -->
                        <div class="content-column half last">
                            <h2><small>Discover Nature at it's Finest</small>PLAY GOLF LIKE A PRO</h2>
                            <p>Duis diam eros, dignissim sed condimentum ac, vehicula nec nisl. Suspendissecondimentum libero tempus, accumsan augue et, varius dui. Morbi justo tortor, tincidunt ornare magna ut, molestie mattis enim.
                            </p>
                            <p>Cras ac justo et augue suscipit euismod vel eget lectus. Proin vehicula nunc arcu, pulvinar accumsan nulla porta vel. Vivamus malesuada vitae sem ac pellentesque.
                            </p>
                            <a href="resort.html" class="btn btn-inline">Explore our Deluxe Golf Course</a>
                        </div><!-- .content-column -->
                    </div><!-- .parallax-container -->
                </div><!-- .row -->
            </div><!-- .container -->
        </section><!-- .fullwidth-row -->
        <section class="container content-padding-lg">
            <div class="row animated">
                <aside class="col-sm-12">
                    <h2 class="text-center"><small>What can you do at the Leisure Template?</small>LEISURE CLUB ACTIVITIES</h2>
                    <div class="services-carousel">
                        <div class="item">
                            <a href="activities.html" class="link-image"><img src="/html-final/images/spa.jpg" alt=""></a>
                            <div class="item-content">
                                <h4><a href="activities.html">Welness &amp; Spa Gateaway Weekend</a></h4>
                                <p>Curabitur est gravida et libero vitae dictum. Magna pars studiorum, prodita quaerimus. </p>
                            </div>
                        </div>
                        <div class="item">
                            <a href="children.html" class="link-image"><img src="/html-final/images/pool.jpg" alt=""></a>
                            <div class="item-content">
                                <h4><a href="children.html">Indoor &amp; Outdoor Swimming Pools</a></h4>
                                <p>Quam diu etiam furor iste tuus nos eludet? Curabitur est gravida et libero vitae dictum. </p>
                            </div>
                        </div>
                        <div class="item">
                            <a href="dining.html" class="link-image"><img src="/html-final/images/food.jpg" alt=""></a>
                            <div class="item-content">
                                <h4><a href="dining.html">International Cuisine for all Your Tastes</a></h4>
                                <p>A communi observantia non est recedendum. Cum ceteris in veneratione tui montes. </p>
                            </div>
                        </div>
                        <div class="item">
                            <a href="activities.html" class="link-image"><img src="/html-final/images/sail.jpg" alt=""></a>
                            <div class="item-content">
                                <h4><a href="activities.html">Take our Yacht and Visit the Surroundings</a></h4>
                                <p>Prima luce, cum quibus mons aliud  consensu ab eo. Quid securi etiam tamquam eu fugiat. </p>
                            </div>
                        </div>
                        <div class="item">
                            <a href="rooms.html" class="link-image"><img src="/html-final/images/room.jpg" alt=""></a>
                            <div class="item-content">
                                <h4><a href="rooms.html">Studios &amp; VIP Exclusive Apartments</a></h4>
                                <p>Magna pars studiorum, prodita quaerimus. Quid securi etiam tamquam eu fugiat nulla. </p>
                            </div>
                        </div>
                        <div class="item">
                            <a href="activities.html" class="link-image"><img src="/html-final/images/fitness.jpg" alt=""></a>
                            <div class="item-content">
                                <h4><a href="activities.html">Pro Fitness Instructor for Every Day Classes</a></h4>
                                <p>Praeterea iter est quasdam res quas ex communi. Vivamus sagittis lacus vel augue laoreet. </p>
                            </div>
                        </div>
                    </div><!-- .services-carousel -->
                </aside><!-- .col-sm-12 -->
            </div><!-- .row -->
        </section><!-- .container -->
    </article><!-- #content -->

{% endblock %}
