<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="<%= BASE_URL %>leisure/html-final/images/favicon.ico" rel="icon" type="image/png">
    <link href="http://fonts.googleapis.com/css?family=Domine:400,700%7CRoboto:400,300,500,700,900" rel="stylesheet" type="text/css">
    <link href="<%= BASE_URL %>leisure/html-final/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="<%= BASE_URL %>leisure/html-final/css/font-awesome.min.css" rel="stylesheet">
    <link href="<%= BASE_URL %>leisure/html-final/css/owl.carousel.min.css" rel="stylesheet" media="screen">
    <link href="<%= BASE_URL %>leisure/html-final/css/owl.theme.default.min.css" rel="stylesheet" media="screen">
    <link href="<%= BASE_URL %>leisure/html-final/css/datepicker.css" rel="stylesheet" media="screen">
    <link href="<%= BASE_URL %>leisure/html-final/style.css" rel="stylesheet" media="screen">
</head>
<body>
<div id="site">
    <navigation v-if="showNavigation"></navigation>
    <noscript>
        <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>

    <footer id="footer" role="contentinfo">
        <div class="container">
            <div class="row" id="main-footer">
                <aside class="col-lg-2 col-md-3 col-sm-4 widget">
                    <h5 class="widget-title">Leisure Club</h5>
                    <p>St Andrews Scotland,
                        United Kingdom KY16 8PN<br><br>

                        Tel  +44 (0) 1334 837000<br>
                        Fax +44 (0) 1334 837099</p>
                </aside><!-- .widget -->
                <aside class="col-lg-2 col-md-3 col-sm-4 widget">
                    <h5 class="widget-title">The Resort</h5>
                    <p>
                        <a href="members.html">Member Bookings</a><br>
                        <a href="events.html">Open Competitions</a><br>
                        <a href="contact.html">Location</a><br>
                        <a href="contact.html">Contact us</a><br>
                        <a href="resort.html">Our Team</a><br>
                    </p>
                </aside><!-- .widget -->
                <aside class="col-lg-2 col-md-3 col-sm-4 widget">
                    <h5 class="widget-title">The Club</h5>
                    <p>
                        <a href="resort.html">Clubhouse</a><br>
                        <a href="resort.html">Officers &amp; Council </a><br>
                        <a href="resort.html">History</a><br>
                        <a href="resort.html">Locality</a><br>
                        <a href="media-gallery.html">Gallery</a><br>
                    </p>
                </aside><!-- .widget -->
                <aside class="col-lg-2 col-md-3 col-sm-4 widget">
                    <h5 class="widget-title">The Courses</h5>
                    <p>
                        <a href="activities.html">Headfort Old</a><br>
                        <a href="activities.html">Headfort New</a><br>
                        <a href="activities.html">Rankings</a><br>
                        <a href="activities.html">Practice Facilities</a><br>
                        <a href="media-gallery.html">Flora and Fauna</a><br>
                    </p>
                </aside><!-- .widget -->
                <aside class="col-lg-2 col-md-3 col-sm-4 widget">
                    <h5 class="widget-title">Visitors</h5>
                    <p>
                        <a href="room-view.html">Visitor Booking</a><br>
                        <a href="members.html">Green Fees</a><br>
                        <a href="resort.html">Societies / Groups</a><br>
                        <a href="testimonials.html">Testimonials</a><br>
                    </p>
                </aside><!-- .widget -->
                <aside class="col-lg-2 col-md-3 col-sm-4 widget">
                    <a href="index.html"><img src="images/logo-leisure.png" alt=""></a>
                </aside><!-- .widget -->
            </div><!-- end .row -->
            <div class="row" id="absolute-footer">
                <div class="col-sm-12">
                    <aside class="widget">
                        <p>Leisure - HTML Template. Designed with special care by <a href="http://demo.curlythemes.com" target="_blank"><abbr title="Premium WordPress Themes & Plugins">Curly Themes</abbr></a>. All Rights Reserved.
                            <span class="pull-right hidden-xs">
		  							<a href="#" class="fa fa-boxed fa-rss" data-toggle="tooltip" data-placement="left" title="Leisure RSS"></a>
		  							<a href="http://www.pinterest.com/raducretu/curly-themes/" class="fa fa-boxed fa-pinterest" data-toggle="tooltip" data-placement="left" title="Leisure Pintrest Board"></a>
		  							<a href="https://www.facebook.com/cthemes" class="fa fa-boxed fa-facebook" data-toggle="tooltip" data-placement="left" title="Leisure on Facebook"></a>
		  							<a href="https://twitter.com/CurlyThemes" class="fa fa-boxed fa-twitter" data-toggle="tooltip" data-placement="left" title="Leisure on Twitter"></a>
		  						</span>
                        </p>
                    </aside><!-- .widget -->
                </div><!-- .col-sm-12 -->
            </div><!-- #absolute-footer -->
        </div><!-- .container -->
    </footer><!-- #footer -->
</div><!-- #site -->



</body>
<!-- All Pages JS -->
<script src="<%= BASE_URL %>leisure/html-final/js/jquery-1.11.1.min.js"></script>
<script src="<%= BASE_URL %>leisure/html-final/js/bootstrap.min.js"></script>
<script src="<%= BASE_URL %>leisure/html-final/js/dropdown-menu.min.js"></script>
<script src="<%= BASE_URL %>leisure/html-final/js/waypoints.min.js"></script>
<script src="<%= BASE_URL %>leisure/html-final/js/waypoints-sticky.min.js"></script>
<script src="<%= BASE_URL %>leisure/html-final/js/jquery.velocity.min.js"></script>
<script src="<%= BASE_URL %>leisure/html-final/js/velocity.ui.js"></script>
<script src="<%= BASE_URL %>leisure/html-final/js/doubletaptogo.js"></script>

<!-- Individual JS -->
<script src="<%= BASE_URL %>leisure/html-final/js/bootstrap.datepicker.min.js"></script>
<script src="<%= BASE_URL %>leisure/html-final/js/jquery.stellar.min.js"></script>
<script src="<%= BASE_URL %>leisure/html-final/js/owl.carousel.min.js"></script>

<!-- Main JS -->
<script src="<%= BASE_URL %>leisure/html-final/js/main.js"></script>
</html>
